.jumbotron{
    background: url("../images/newyork.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.fill-in{
    height: 375px;
    margin-bottom: auto;
}

.navi{
    height: 90px;
}

.brandimg{
    margin: 50px;
}

hr {
    height: 1px;
    color: green;
    background-color: green;
    border: none;
    width: 70px;
}

.cont{
    background-color: lavender;
    height: 200px;
}
