.jumbotron{
    padding-top: 0;
}

.jumbo-home{
    background: url("../images/newyork.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbo-contact{
    background: url("../images/contactheader.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 500px;
    
}

.navco{
    background-color: slategrey;
}

.fill-in{
    height: 700px;
    margin-bottom: auto;
}

.navi{
    height: 100px;
}

.brandimg{
    margin: 50px;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
    width: 70px;
}

.cont{
    background-color: aqua;
    height: 165px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    font-size: 20px;
}

.constrip{
    background-color: aqua;
    height: 90px;
    padding-left: 150px;
    padding-top: 20px;
    font-size: xx-large;
    opacity: 50%;
}
